*{
    margin: 0;
    padding: 0;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
}
h1{
   color: #906eb2 !important;
}
p a{
    text-decoration: none !important;
    color: #f3b4b0 !important;
}
.card-title{
    color: #906eb2 !important;
}
.card{
    background-color: #f2f2f7 !important;
}
.fade-section{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, transform;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width:768px) {
  .card-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}