*{
    margin: 0;
    padding: 0;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
}

.product-detail{
    margin: 20px;
}

.product-content{
    display: flex;
    width: 100%;
    justify-content: left;
    
}


#product-image{
    width: 250px;
    height: 250px;
    margin-right: 20px;
    border-radius: 20px;
}

#highlited-lavender{
    color: #906EB2;
}

#product-name{
    font-weight: 500;
    color: black;
    font-size: 2rem;
}

.product-desc{
    width: 100%;
}

#product-description{
    font-size: 1rem;
    color: black;
    text-align: left;
}
.product-desc p{
    font-size: 32px;
    color: #906EB2;
    text-align: justify;
}

.btn-hero{
    background-color: #906eb2;  
    color: white;               
    border: none;
    padding: 10px 20px;          
    font-size: 20px;     
}
.btn-hero:hover{
    transform: scale(1.05); 
    z-index: 3; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-hero a{
    color: white;
}

.price{
    color: #906EB2;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .product-content {
        flex-direction: column;
    }
    #product-image {
        width: 100%;
        max-width: 450px;
        height: auto;
        margin: 10px 0;
    }
    .product-content{
        flex-direction: column;
        
    }
    #woman-bdcake {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 10px 0;
    }

    .product-desc {
        margin: 20px;
    }
    .product-desc p {
        font-size: 32px;
    }
}


@media (max-width: 768px) {
    .product-desc p {
        font-size: 24px;
    }
    #product-name,
    .price {
        font-size: 24px;
    }
    .product-content{
        flex-direction: column;

    }
}