*{
    margin: 0;
    padding: 0;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
}
.navbar li:hover{
    text-decoration: underline;
    font-weight: bold;
}
.navbar li{
    padding: 5px;
}
.hero-section{
   background: linear-gradient(to bottom, #f4e9ff, #ffffff);
}
.btn-hero{
    background-color: #906eb2;  
    color: white;               
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);            
    font-size: 28px;     
}
.btn-hero:hover{
    text-decoration: underline;
}
.hero-title-1{
    color: #906eb2;
}
.hero-title-2{
    color: #f3b4b0;
}
.hero-title-1, .hero-title-2{
    display: inline;
}
.elemen-1{
    left:19%;
    bottom:50%;
}
.hero-2-title{
    color: #906eb2;
}
.hero-2-desc{
    color: #906eb2;
}
.overlay{
    position: absolute;
    z-index: -1;
}
.overlay img{
    width: 100%;
    height: 100%;
}
.main-content .col-sm-4 img{
    height: 200px;
}
.btn-primary{
    background-color: #906eb2 !important;
    border: none !important;
}
.card-img-top{
    height: 12rem;
}
.more-detail{
    color: rgb(209, 209, 209);
}
#mySimpleCarousel {
  position: relative; /* Penting agar tombol posisinya relatif ke carousel */
}
.carousel-button-group{
    position: absolute;
    bottom: 155%;
    left: 85%;
}
.custom-carousel-btn{
    background-color: #f4e9ff;
    border: none;
}
.carousel-item{
    height: 50vh !important;
}
.line{
    background-color: black;
    width: 100%;
    height: 1px;    
}