*{
    margin: 0;
    padding: 0;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto; 
    font-style: normal;
}

/* Add this to your existing CSS file */
html {
  scroll-behavior: smooth;
}
.hero-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hero-title img{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
/* Optional: Add padding to account for fixed navbar */
#about-section,
#products-section,
#testimonials-section {
  scroll-margin-top: 80px;
}

img{
    object-fit: cover;
}

.navbar li:hover{
    text-decoration: underline;
    font-weight: bold;
}
.navbar li{
    padding: 5px;
}
.hero-section{
   background: linear-gradient(to bottom, #f4e9ff, #ffffff);
}
.btn-hero{
    background-color: #906eb2;  
    color: white;               
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);            
    font-size: 28px;     
}
.btn-hero:hover{
    text-decoration: underline;
}
.hero-title-1{
    color: #906eb2;
}
.hero-title-2{
    color: #f3b4b0;
}
.hero-title-1, .hero-title-2{
    display: inline;
}
.elemen-1{
    left:19%;
    bottom:50%;
}
.hero-2-title{
    color: #906eb2;
}
.hero-2-desc{
    color: #906eb2;
}
.overlay{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.main-section-1{
    position: relative;
}
.overlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .col-sm-4 img{
    height: 200px;
}
.btn-primary{
    background-color: #906eb2 !important;
    border: none !important;
}
.card-img-top{
    height: 12rem;
}
.more-detail{
    color: rgb(209, 209, 209);
}
#mySimpleCarousel {
  position: relative; /* Penting agar tombol posisinya relatif ke carousel */
}
.carousel-button-group{
    margin-left: auto;
}
.carousel-button-group button:hover{
    background-color: #f4e9ff;
    border-radius: 100%;
}
.carousel-inner{
    height: fit-content !important;
}
.custom-carousel-btn{
    background-color: #ffff;
    border: none;
}

.line{
    background-color: black;
    width: 100%;
    height: 1px;    
}
footer{
    background: linear-gradient(to bottom, #ffffff, #f4e9ff);
    z-index: -1;
}
.carousel-item .row{
    height: fit-content !important;
}
.testi-desc{
    height: 220px !important;
}
.fade-section{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, transform;
}
.testi-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
.card:hover{
    transform: scale(1.05); 
    box-shadow: 0px 0px 20px #906EB2; 
    z-index: 3; 
    color: black;
    border-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card .btn:hover{
    background-color: #f4e9ff !important;
    color: black;
}